In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("country_wise_latest.csv",encoding="iso-8859-1")

In [3]:
df.columns

Index(['Country/Region', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'New cases', 'New deaths', 'New recovered', 'Deaths / 100 Cases',
       'Recovered / 100 Cases', 'Deaths / 100 Recovered',
       'Confirmed last week', '1 week change', '1 week % increase',
       'WHO Region'],
      dtype='object')

In [4]:
df.drop(columns=['Confirmed last week', '1 week change', '1 week % increase',
       'WHO Region','Deaths / 100 Recovered'],axis=1,inplace=True)

In [5]:
df.isnull().sum ()

Country/Region           0
Confirmed                0
Deaths                   0
Recovered                0
Active                   0
New cases                0
New deaths               0
New recovered            0
Deaths / 100 Cases       0
Recovered / 100 Cases    0
dtype: int64

In [6]:
df.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country/Region         187 non-null    object
 1   Confirmed              187 non-null    int64
 2   Deaths                 187 non-null    int64
 3   Recovered              187 non-null    int64
 4   Active                 187 non-null    int64
 5   New cases              187 non-null    int64
 6   New deaths             187 non-null    int64
 7   New recovered          187 non-null    int64
 8   Deaths / 100 Cases     187 non-null    float64
 9   Recovered / 100 Cases  187 non-null    float64
dtypes: float64(2), int64(7), object(1)
memory usage: 14.7+ KB

In [7]:
df.sample (10)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases
164,Taiwan*,462,7,440,15,4,0,0,1.52,95.24
118,Namibia,1843,8,101,1734,68,0,26,0.43,5.48
20,Bolivia,71181,2647,21478,47056,1752,64,309,3.72,30.17
127,Oman,77058,393,57028,19637,1053,9,1729,0.51,74.01
7,Armenia,37390,711,26665,10014,73,6,187,1.90,71.32
108,Malta,701,9,665,27,1,0,0,1.28,94.86
35,Chile,347923,9187,319954,18782,2133,75,1859,2.64,91.96
36,China,86783,4656,78869,3258,213,4,7,5.37,90.88
92,Kuwait,64379,438,55057,8884,606,5,684,0.68,85.52
155,South Korea,14203,300,13007,896,28,1,102,2.11,91.58

In [8]:
df.to_csv("covid_cases.csv",index=False)